/* il faut s'adresser au parent pour que les enfants
deviennent flexibles */
#wrap-section {
  border: 10px solid green;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-around;
}
section {
  border: 10px solid red;
}
