button {
  margin: 20px;
}
main {
  flex-wrap: wrap;
  justify-content: flex-start;
}
article {
  border: 2px solid black;
  border-radius: 8px;
  padding: 2opx;
  height: 250px;
  width: 23%;
  margin: 20px 1%;
  padding: 20px;
}
